<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="cincailah"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="
                orientation|
                keyboardHidden|
                keyboard|
                screenSize|
                smallestScreenSize|
                locale|
                layoutDirection|
                fontScale|
                screenLayout|
                density|
                uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- 启动时的过渡主题（Flutter 初始化时可见） -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- 启动入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Flutter 引擎版本标记（不要删） -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- 用于 Flutter text 插件的查询配置 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
